body {

  background-image:url('../images/linedpaper.png');

}
.jumbotron {

    text-align:center;
    letter-spacing:3px;
    color: black;
    margin-top: 50px;
    background-color:transparent;
}
.panel-heading {

    background-image:url('../images/green_cup.png');

}
.panel-heading h3{
  
  font-size:40px;
  letter-spacing:1px;
    color: #E9E9E9;

}

.panel-body p {
  
  font-size:20px;
  letter-spacing:1px;
}

.panel-body{
   
    background-image:url('../images/china.png');
}
.spacer {

 height:50px;
}
